*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* navbar */

.navbar{
    background-color: white;
    margin-bottom: 8px;
    box-shadow: 1px 2px 5px black;
}
nav{
    height:75px;
    display: inline-flex;
}
.logo{
    display: inline-block;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 2px 75px 0px 50px;
}
.logo h4{
    font-size: medium;
    margin-left: 5px;
}
#left{
    display: inline-flex;
    margin-left:25px;
    margin-right: 225px;
}

#left li{
    list-style-type:none;
    margin: 28px 10px 28px 10px;
}
#left li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0px 2px; 
}
#left li a:hover{
    background-color: #6e6e6e;
    color: white;
    padding: 20px 2px;
}
#right{
    display: inline-flex;
    margin-left: 475px;
}
#right li{
    list-style-type:none;
    margin: 28px 10px 28px 10px;

}
#right li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0px 2px;
}
#right li a:hover{
    background-color: #6e6e6e;
    color: white;
    padding: 5px 2px;
}
ul#right #signup a{
    color: white;
    background-color:#d23228;
    padding: 5px 18px 5px 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
ul#right #signup a:hover{
    background-color: #111439;
    color: white;
}

/* image frame and login form */

.login{
    border: 10px solid #0a1828;
    position:relative;
    display: inline-flex;
}
.login img{
    height: 600px;
    width: 1500px;
}
.container1{
    position: absolute;
    display: inline-block;
    top:0%;
    left: 50%;
    transform: translate(-50% -50%);
    height: 550px;
    width: 500px;
    margin: 25px 25px 25px 225px;

}
#login-form{
    font-weight: 500;
    font-size: 25px; 
    position:relative;
    margin: 25px 0px 25px 0px;
}
#login-form a{
    text-decoration:none;
    margin-left: 30px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 5px;
}
#login-form a:hover{
    background-color: #6e6e6e;
    border: 2px solid #111439;
    text-decoration-color: #111439;

}
.form{
    margin: 10px;
}
#email{
    margin-top: 12px;
}
#email label{
    color: black;
    font-size: 20px;
}
#email input{
    height: 44px;
    width: 456px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid black;
}
#password{
    margin-top: 12px;
    width: 100%;
}
#password label{
    color: black;
    font-size: 20px;
}
#password input{
    height: 44px;
    width: 456px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid black;
}
.button-link{
    background-color: #d23228;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 34px;
    width: 465px;
    cursor: pointer;
    transition: background-color 0.3s ease;    
}
.button-link:hover{
    background-color: #111439;
}
.forgot-password{
    background-color: #f8f8f9;
    color: black;
    box-shadow: 0px 0px 5px;
    margin-bottom: 25px;
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 34px;
    width: 465px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.forgot-password:hover{
    background-color: #6e6e6e;
    color: white;
}
.form hr{
     margin-bottom: 25px;
}
.form p a{
    text-decoration: none;
    cursor: pointer;
}
.form p a:hover{
    color: darkgrey
}

/* footer */

.base{
    background-color: black;
    height: 300px;
    margin-top: 5px;
    padding-top: 25px;
    box-sizing: border-box;
}
.footer-item{
    margin: 50px 75px 50px 75px;
    /* background-color: rgb(103, 225, 73); */
    height: 250px;
    box-sizing: border-box;
}
.social-media{
    box-sizing: border-box;
    height: 100px;
    border: 2px solid black;
}
#lwm{
    height: 200px;
    width: 200px;
    margin-top: -50px;
}
#linkdln img{
    margin-left:900px;
    padding-bottom: 100px;
}
#instagram img{
    padding-bottom: 100px;
} 
#facebook img{
    padding-bottom: 100px;
} 
#twitter img{
    padding-bottom: 100px;
} 
#github img{
    padding-bottom: 100px;
}
.footer-item p{
    color: white;
    margin-top: 25px;
    text-align: center;
}
    
